@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">


    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaID</td>
            <td>@k.FaturaSeriNo</td>
            <td>@k.FaturaSiraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.FaturaTarih</td>
            <td>@k.FaturaSaat</td>
            <td>100</td>
            <td>@k.FaturaTeslimEden</td>
            <td>@k.FaturaTeslimAlan</td>
            <td><a href="/Departman/DepartmanDetay/@k.FaturaID" class="btn btn-warning" ">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@k.FaturaID" class="btn btn-success" style="background-color:lightcoral">Detay</a></td>
        </tr>
    }


</table>
<a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>



