@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>

        <tr>
            <th>ID</th>
            <th>Urun</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam Tutar</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>

        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.SatisID</td>
            <td>@k.Urun.UrunAd</td>
            <td>@k.Cari.CariAd @k.Cari.CariSoyad</td>
            <td>@k.Personel.PersonelAd @k.Personel.PersonelSoyad</td>
            <td>@k.SatisAdet</td>
            <td>@k.SatisFiyat</td>
            <td>@k.SatisToplamTutar</td>
            <td>@k.SatisTarih</td>
            <td><a href="/Satis/SatisGetir/@k.SatisID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@k.SatisID" class="btn btn-success" style="background-color:lightcoral">Detay</a></td>
        </tr>
    }


</table>
<a href="/Satis/YeniSatis" class="btn btn-info">Yeni Satış Yap</a>


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

$('#tbl1').dataTable({});

</script>


