@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Satış Detayı</h2>
<br />

<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisID</td>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
            <td>@x.Personel.PersonelAd  @x.Personel.PersonelSoyad</td>
            <td>@x.SatisFiyat</td>
            <td>@x.SatisAdet</td>
            <td>@x.SatisToplamTutar</td>
            <td>@x.SatisTarih</td>
            
        </tr>
    }

</table>
<a href="/Satis/SatisListesi/" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a>
